@model List<Conference>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@{
    ViewData["Title"] = "Conferences";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
            <h2 class="heading-section">Conferences</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>#</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Deadline</th>
                            <th>Venue</th>
                            @if (httpAcc.HttpContext.Session.GetString("JWTToken") != null &&
                            httpAcc.HttpContext.Session.GetString("JWTToken").ToString().Length > 0)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr data-organizer="@Model[i].Organizer" data-inquiryemail="@Model[i].InquiryEmail"
                                data-startdate="@Model[i].StartDate" data-enddate="@Model[i].EndDate"
                                data-eventstatus="@Model[i].EventStatus" data-secretary="@Model[i].Secretary"
                                data-url="@Model[i].RegistrationUrl">

                                <td class="dt-control"></td>
                                <td scope="row">@(i + 1)</td>
                                <td class="w-50">@(Model[i].Title)</td>
                                <td class="">@(Model[i].Date)</td>
                                <td class="w-25">@(Model[i].Deadline)</td>
                                <td class="w-25">@(Model[i].Country)</td>
                                @if (httpAcc.HttpContext.Session.GetString("JWTToken") != null &&
                               httpAcc.HttpContext.Session.GetString("JWTToken").ToString().Length > 0)
                                {
                                    <td>
                                        <a asp-controller="Home" asp-action="UpdateConference" asp-route-ConferenceId="@Model[i].Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-controller="Home" asp-action="DeleteConference" asp-route-ConferenceId="@Model[i].Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
